<div style="text-align:center">
  <h3>Welcome to Bill Tracker!  Please sign in or sign up to get started!</h3>
</div>
<br>
<div id="container">
  <a class="hiddenanchor" id="toregister"></a>
  <a class="hiddenanchor" id="tosignin"></a>

  <!-- SignIn and /SignUp Boxes -->
  <div id="wrapper">

    <!-- SignIn Form -->
    <div id="signin" class="animate">
      <form ngNativeValidate>
        <div *ngIf="auth.loginFailure" class="failure">
          <h5>Please try again. You need to either Sign Up as a system user or you have entered incorrect information.</h5>
        </div>
        <h1>Sign In</h1>
        <label for="email">Username:</label><br>
        <input [(ngModel)]="user.email" id="email-log" name="email" type="text" placeholder="Username" required/><br><br/>
        <label for="password">Password:</label><br>
        <input [(ngModel)]="user.password" id="password-log" name="password" type="text" placeholder="Password" required/><br><br/>
        <p class="signin button">
          <input (click)="signIn()" type="submit" value="Sign in"/>
        </p>
        <div class="lower">
          <a href="#toregister">Not a member yet? Sign Up!</a>
        </div><!--/ lower-->
      </form>
    </div><!--/ SignIn-->

    <!-- SignUp Form  -->
    <div id="register" class="animate">
      <form ngNativeValidate>
        <div *ngIf="auth.signUpFailure" class="failure">
          <h5>Please try again. Your Username already exists or you have entered incorrect information.</h5>
        </div>
        <h1>Sign Up</h1>
        <label for="email">Username:</label><br>
        <input [(ngModel)]="newUser.email" id="email-sign" name="email" type="text" placeholder="Username" required/><br><br/>
        <label for="password">Password:</label><br>
        <input [(ngModel)]="newUser.password" id="password-sign" name="password" type="text" placeholder="Password" required/><br><br/>
        <label for="confirm_password">Confirm Password:</label><br>
        <input [(ngModel)]="newUser.password_confirmation" id="password-confirm-sign" name="confirm_password" type="text" placeholder="Confirm Password" required/><br><br/>
        <p class="signup button">
        <input (click)="signUp()" type="submit" value="Sign Up"/>
        </p>
        <div class="lower">
          <a href="#tosignin">Already a member? Sign In!</a>
        </div>
      </form>
    </div><!--/ SignUp-->
  </div><!--/ wrapper-->
</div><!--/ container-->
